@model IEnumerable<TrainingApplication.Models.Character>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Your Characters</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary text-white" asp-controller="CharacterList" asp-action="CreateCharacter">Add Existing Character</a>
        </div>
        <br />
        <div class="form-inline text-right">
            <label>Search:&nbsp;</label>
            <input type="text" class="form-control" id="txtSearch" />
        </div>
    </div>
    <br />

    @if (Model.Count() > 0) { 
        <table class="table table-bordered table-striped" style="width:100%">
            <thread>
                <tr>
                    <th>
                        Character Name
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Nation
                    </th>
                    <th>
                        Vision
                    </th>
                    <th>
                        Weapon
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        Changes
                    </th>

                </tr>
            </thread>
            <tbody>
                @foreach(var character in Model)
                {
                    <tr>
                        <td width="15%">@character.Characters</td>
                        <td width="5%" align="center">@character.Level</td>
                        <td width="20%">@character.Nation</td>
                        <td width="10%">@character.VisionType</td>
                        <td width="15%">@character.Weapon</td>
                        <td width="10%">@character.Birthday</td>
                        <td width="30%">
                            <div class="w-100 btn-group"role="group">
                                <a asp-controller="CharacterList" asp-route-Id="@character.Id" asp-action="Update" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="CharacterList" asp-route-Id="@character.Id" asp-action="Remove" class="btn btn-danger mx-1">Remove</a>
                            </div>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
            }
            else
            {
                <p>Hmmmmm No Characters in Here...</p>
            }
</div>